<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/livewire.css">
</head>
<body>
{{livewire "counter" .}}

<script src="/static/livewire.js"></script>
{{livewireJS "token1"}}
</body>
</html>
